@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'GeistSans', system-ui, sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
}

@layer base {
  html,
  body {
    min-height: 100vh;
  }

  body {
    @apply bg-gray-50 transition-colors duration-200;
  }

  body[data-theme='dark'] {
    @apply bg-gray-900 text-white;
  }

  body[data-theme='light'] {
    @apply bg-gray-50 text-black;
  }
}

@layer components {
  .chart-container {
    @apply rounded-lg p-4 shadow-lg transition-colors duration-200;
  }
}
